---
title: "Home"
layout: layouts/skeleton.njk
---

  <div id="hero" class="home" style="background: linear-gradient(90deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 55%), url('assets/images/robin_header.jpg') repeat scroll top center/cover;">

    <div class="container">
      <div class="hero-content">
        <h1>Robin Marx</h1>
        <p>I'm a Web Performance Expert, Conference Speaker, Blogger, and Rhinoceros fan extraordinaire!</p>

        <ul class="list-unstyled list-social">
          <li><a target="_blank" href="https://twitter.com/programmingart"><i class="bi bi-twitter"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/rmarx/"><i class="bi bi-linkedin"></i></a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCyqPrNfndJ7OPhPdYJG-mmQ/videos"><i class="bi bi-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>UNDER CONSTRUCTION</h2>
            <h3>This site is still under very heavy construction (and performance optimization) as of October 2022</h3>
          </div>
          <div class="col-lg-6 pt-lg-0">
            <p>
              Hello there! I'm Robin, a "Solutions Architect" at <a href="https://www.akamai.com">Akamai</a>, the leading CDN platform. I'm mostly known for talking and writing about Web Performance, with a focus on protocols such as HTTP (2 and 3), TCP and QUIC. 
            </p>

            <p>
              Feel free to: 
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Read some of my technical (way to) deep-dives on <a href="/blog/">my blog</a>.</li>
              <li><i class="ri-check-double-line"></i> Watch some of my approachable video content on  <a href="https://www.youtube.com/channel/UCyqPrNfndJ7OPhPdYJG-mmQ/videos">YouTube</a>.</li>
              <li><i class="ri-check-double-line"></i> Contact me to discuss business at <a href="mailto:rmarx@akamai.com">rmarx@akamai.com</a>.</li>
              <li><i class="ri-check-double-line"></i> Laugh at me getting my *ss kicked <a href="https://www.youtube.com/results?search_query=robin+marx+longsword">during sword fighting tournaments</a>.</li>
            </ul>
            <p class="fst-italic">
              I'm always looking for speaking opportunities, so feel free to get in touch via <a href="mailto:rmarx@akamai.com">email</a>.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->