<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Robin Marx - {{title}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Adapted by Robin Marx from:
  * Template Name: Sailor - v4.9.0
  * Template URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Robin Marx</a></h1>

      {% include "navigation.njk" %}
    </div>
  </header>

  {{ content | safe }}

  

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Robin Marx</h3>
              <p>
                Hasselt, Belgium <br/>
                <a href="https://www.timeanddate.com/worldclock/converter.html?iso=20220923T190000&p1=48">CET/CEST time zone</a> <br/><br/>

                <strong>Phone:</strong> +32 497 72 86 94<br>
                <strong>Email:</strong> <a href="mailto:rmarx@akamai.com">rmarx@akamai.com</a><br>
              </p>
              {# <div class="social-links mt-3">
                <a target="_blank" href="https://twitter.com/programmingart" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/rmarx/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCyqPrNfndJ7OPhPdYJG-mmQ/videos" class="youtube"><i class="bx bxl-youtube"></i></a>
              </div> #}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Find me on Social Media:</h4>
            <ul>
              <li><i class="bx bxl-twitter"></i>  <a class="px-1" target="_blank" href="https://twitter.com/programmingart">Twitter</a></li>
              <li><i class="bx bxl-linkedin"></i> <a class="px-1" target="_blank" href="https://www.linkedin.com/in/rmarx/">LinkedIn</a></li>
              <li><i class="bx bxl-youtube"></i>  <a class="px-1" target="_blank" href="https://www.youtube.com/channel/UCyqPrNfndJ7OPhPdYJG-mmQ/videos">YouTube</a></li>
            </ul>
            <p class="fst-italic pt-1 tiktok">
              (I'm too old for TikTok)
            </p>
          </div>

          <div class="col-lg-4 col-md-12 footer-links">
            <h4>Navigation:</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="about/">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="blog/">Blog</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="videos/">Videos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="credits pt-5">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
        Based on template Sailor - Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>